@import './index';

.tendrils-audio,
.tendrils-video {
  .w-embed {
    transition: opacity ease-in-out 300ms;
    will-change: opacity;
  }
}

.tendrils-audio .w-embed {
  .tendrils-audio-on & {
    &.off { opacity: 0 !important; }

    &.on { opacity: 1 !important; }
  }

  .tendrils-audio-off & {
    &.off { opacity: 1 !important; }

    &.on { opacity: 0 !important; }
  }
}

.tendrils-video .w-embed {
  .tendrils-video-on & {
    &.off { opacity: 0 !important; }

    &.on { opacity: 1 !important; }
  }

  .tendrils-video-off & {
    &.off { opacity: 1 !important; }

    &.on { opacity: 0 !important; }
  }
}

.epok-track {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  inset: auto 0 0 auto;
  z-index: -1;
}

.tendrils-audio,
.tendrils-video { position: relative; }

.tendrils-loading { overflow: hidden; }
